# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a dataset which contains information on World Cup matches. Let's use the pandas commands learned in the previous lesson to learn more about our data!

## Objectives
You will be able to: 
- Use pandas methods and attributes to access information about a dataset 
- Index pandas dataframes with .loc, .iloc, and column names 
- Use a boolean mask to index pandas series and dataframes

## Load the Data

Load the file `'WorldCupMatches.csv'` as a DataFrame in pandas.

In [20]:
# Replace None with appropriate code

# Import pandas using the standard alias
import pandas as pd

# Load 'WorldCupMatches.csv' as a DataFrame
df = pd.DataFrame(pd.read_csv('WorldCupMatches.csv'))
df['Stadium'][:15]

0                Pocitos
1         Parque Central
2         Parque Central
3                Pocitos
4         Parque Central
5         Parque Central
6         Parque Central
7         Parque Central
8     Estadio Centenario
9     Estadio Centenario
10    Estadio Centenario
11    Estadio Centenario
12    Estadio Centenario
13    Estadio Centenario
14    Estadio Centenario
Name: Stadium, dtype: object

## Common Methods and Attributes

Use the correct method to display the **first 7 rows** of the dataset.

In [23]:
# Your code here
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Display the **last 3 rows** of the dataset.

In [26]:
# Your code here
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

Get a concise summary of the data using `.info()`.

In [27]:
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.2+ KB

Obtain a tuple representing the **number of rows and number of columns**.

In [29]:
# Your code here
df.shape

(852, 20)

Use the appropriate attribute to get the **column names**.

In [30]:
# Your code here
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting DataFrame Information

When looking at the DataFrame's `.head()` and `.tail()`, you might have noticed that the games are structured chronologically in the DataFrame.

Use the right selection method to display all the information from the 3rd to the 5th game (i.e. **select rows 3 through 5 inclusive**).

In [31]:
# Your code here
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

Now, display the info from **game 5-9** (inclusive), but **only the `"Home Team Name"` and the `"Away Team Name"` columns**.

In [33]:
# Your code here
df.loc[5:9, ['Home Team Name', 'Away Team Name']]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

Next, we'd like the information on all the games played in **Group 3** for the **1950** World Cup.

Hint: You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [35]:
# Your code here
dude = df[df['Stage'] == 'Group 3']
len(dude)

56

Let's repeat the command above, but this time display **only the attendance column** for the Group 3 games.

In [48]:
# Your code here
df.loc[df['Stage'] == 'Group 3', ['Attendance']]
print('amazing')

amazing

Throughout the entire history of the World Cup as recorded in this dataset, **how many home games were played by the Netherlands**?

(Remember that you can use the `len()` built-in function to find the number of rows in a DataFrame.)

In [64]:
# Your code here
len(df[df['Home Team Initials'] == 'NED'])

32

**How many games were played by the Netherlands in total**?

In [77]:
# Your code here
home = df.loc[(df['Home Team Initials'] == 'NED') | (df['Away Team Initials'] == 'NED')]

len(home)

54

Next, let's try and figure out **how many games the USA played in the 2014 World Cup**.

In [80]:
# Your code here
df.loc[(df['Year'] == 2014) & ((df['Home Team Initials'] == 'USA') | (df['Away Team Initials'] == 'USA'))]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
785,2014,16 Jun 2014 - 19:00,Group G,Estadio das Dunas,Natal,Ghana,1,2,USA,,39760.0,0,1,ERIKSSON Jonas (SWE),KLASENIUS Mathias (SWE),WARNMARK Daniel (SWE),255931,300186512,GHA,USA
803,2014,22 Jun 2014 - 18:00,Group G,Arena Amazonia,Manaus,USA,2,2,Portugal,,40123.0,0,1,PITANA Nestor (ARG),MAIDANA Hernan (ARG),BELATTI Juan Pablo (ARG),255931,300186483,USA,POR
816,2014,26 Jun 2014 - 13:00,Group G,Arena Pernambuco,Recife,USA,0,1,Germany,,41876.0,0,0,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255931,300186469,USA,GER
835,2014,01 Jul 2014 - 17:00,Round of 16,Arena Fonte Nova,Salvador,Belgium,2,1,USA,Belgium win after extra time,51227.0,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,300186497,BEL,USA
843,2014,01 Jul 2014 - 17:00,Round of 16,Arena Fonte Nova,Salvador,Belgium,2,1,USA,Belgium win after extra time,51227.0,0,0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255951,300186497,BEL,USA

Now, let's try to find out **how many countries participated in the 1986 World Cup**.

Hint 1: As a first step, create a new dataset that only contains games in that year.

Hint 2: Make sure you don't end up with duplicate country names. Consider using `set()` or `.unique()`.

In [119]:
# Your code here
games_in_1986 = df.loc[df['Year'] == 1986]
home_names = games_in_1986['Home Team Name'].tolist()
away_names = games_in_1986['Away Team Name'].tolist()

home_names.extend(away_names)

participated = set(home_names)

participated

len(participated)

24

## Changing Values and Creating New Columns

In World Cup history, **how many matches had 5 goals or more in total**? Create a column `"Total Goals"` to answer this question.

In [122]:
# Your code here
df.loc[(df['Home Team Goals'] 
     + df['Away Team Goals'] 
     + df['Half-time Home Goals'] 
     + df['Half-time Away Goals']) >= 5,
    'Total Goals'] = '> 5'
df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Total Goals
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,...,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX,> 5
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,...,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL,> 5
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,...,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA,> 5
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,...,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER,> 5
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,...,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA,NaN

Now **create a new column `"Half-time Goals"`** in `df` that includes both home and away values.

In [135]:
# Your code here
import numpy as np
# h_t_total = np.add(zip(df['Half-time Home Goals'].tolist(), df['Half-time Away Goals'].tolist()))

# h_t_total
all_halfs = np.add(df['Half-time Home Goals'].tolist(), df['Half-time Away Goals'].tolist())
all_halfs

array([3, 2, 2, 1, 0, 1, 0, 2, 0, 0, 4, 1, 1, 4, 3, 1, 4, 3, 0, 4, 3, 2,
       3, 3, 3, 1, 2, 0, 0, 1, 1, 1, 1, 4, 0, 0, 4, 3, 0, 0, 0, 0, 1, 3,
       0, 1, 4, 2, 1, 4, 0, 3, 4, 1, 1, 1, 3, 0, 3, 2, 2, 3, 1, 1, 0, 1,
       4, 2, 2, 3, 3, 3, 3, 2, 0, 0, 1, 4, 1, 2, 4, 0, 2, 2, 4, 1, 0, 4,
       4, 1, 1, 4, 1, 3, 9, 1, 3, 1, 0, 2, 4, 1, 1, 3, 2, 4, 1, 1, 1, 0,
       1, 3, 2, 1, 2, 2, 1, 0, 1, 2, 1, 3, 2, 1, 3, 0, 0, 1, 0, 1, 0, 1,
       2, 3, 4, 3, 1, 0, 1, 2, 0, 0, 1, 0, 3, 0, 2, 0, 4, 0, 4, 1, 1, 1,
       0, 1, 2, 3, 0, 1, 3, 2, 1, 0, 0, 3, 0, 2, 0, 3, 1, 2, 0, 1, 0, 1,
       3, 1, 2, 1, 2, 0, 0, 1, 0, 0, 2, 1, 1, 3, 2, 2, 0, 1, 1, 5, 1, 1,
       2, 0, 0, 1, 1, 0, 1, 1, 2, 1, 0, 0, 1, 1, 0, 3, 0, 1, 0, 4, 3, 0,
       0, 1, 0, 1, 2, 0, 3, 0, 2, 0, 1, 2, 0, 1, 0, 2, 1, 0, 0, 2, 2, 0,
       0, 6, 0, 0, 5, 2, 0, 0, 1, 0, 2, 2, 0, 2, 1, 0, 2, 1, 2, 2, 1, 1,
       0, 0, 2, 2, 0, 3, 0, 2, 1, 2, 2, 2, 2, 1, 2, 1, 4, 1, 0, 1, 1, 0,
       4, 1, 0, 0, 1, 0, 4, 2, 0, 3, 2, 1, 0, 1, 2, 0, 1, 1, 2, 2, 1, 0,
       0, 0, 1, 0, 3, 3, 0, 2, 1, 1, 1, 0, 1, 2, 2, 0, 1, 1, 1, 0, 2, 0,
       2, 1, 0, 1, 1, 0, 1, 2, 3, 0, 0, 1, 1, 0, 1, 2, 0, 0, 1, 0, 1, 0,
       1, 0, 3, 0, 1, 0, 3, 0, 1, 0, 0, 3, 2, 0, 1, 3, 0, 1, 0, 1, 2, 0,
       1, 1, 0, 0, 2, 1, 0, 2, 3, 2, 1, 0, 1, 1, 1, 0, 2, 3, 2, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 2, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 2, 1,
       2, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 2, 1, 1, 0, 0, 2, 2, 0, 2, 0, 3,
       1, 0, 0, 1, 0, 3, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 2, 1, 3, 1, 0, 2, 1, 1, 2, 2, 1, 2, 1, 0, 0, 1, 2, 1,
       0, 3, 3, 1, 1, 1, 3, 1, 0, 1, 0, 3, 1, 1, 1, 0, 4, 1, 1, 3, 2, 0,
       0, 0, 1, 0, 0, 0, 3, 0, 4, 0, 2, 2, 2, 0, 0, 0, 1, 2, 1, 0, 1, 0,
       2, 1, 1, 1, 0, 2, 0, 1, 1, 1, 1, 0, 0, 1, 2, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 2, 2, 2, 2, 1, 2, 0, 1, 1, 1, 1, 2, 1, 3, 0, 2, 0, 1, 1, 0,
       0, 3, 2, 1, 0, 0, 3, 2, 1, 1, 1, 4, 0, 1, 1, 1, 1, 2, 0, 0, 0, 1,
       0, 4, 1, 1, 0, 0, 2, 1, 1, 1, 3, 0, 0, 0, 2, 1, 1, 2, 1, 3, 1, 0,
       0, 0, 1, 3, 4, 2, 0, 1, 0, 0, 2, 1, 3, 0, 0, 0, 0, 1, 1, 0, 2, 1,
       0, 0, 0, 0, 4, 0, 3, 1, 1, 0, 2, 1, 2, 1, 1, 2, 1, 1, 0, 1, 2, 1,
       0, 1, 0, 0, 3, 3, 0, 0, 1, 2, 0, 0, 1, 1, 2, 1, 2, 2, 1, 1, 0, 3,
       0, 3, 1, 3, 2, 2, 0, 1, 0, 1, 2, 0, 0, 1, 0, 0, 2, 2, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 2, 0, 0, 2, 0, 1, 1, 0, 0, 0, 1, 0, 1, 3,
       2, 0, 1, 2, 0, 0, 2, 2, 1, 2, 1, 1, 0, 1, 1, 2, 2, 0, 1, 0, 0, 0,
       1, 0, 2, 1, 0, 2, 2, 0, 1, 0, 3, 2, 1, 2, 0, 0, 1, 0, 1, 0, 2, 0,
       2, 0, 2, 0, 2, 3, 1, 1, 2, 1, 1, 1, 1, 3, 0, 1, 1, 0, 0, 2, 2, 1,
       0, 1, 0, 1, 3, 2, 0, 0, 1, 0, 3, 1, 1, 0, 3, 0, 0, 0, 2, 1, 3, 1,
       2, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 5, 2, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 5, 0, 2, 0])

In [ ]:
# Run this cell without changes to see your new column
df.columns

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [136]:
# Run this cell without changes

# Diaplay all records containing the string 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name']

179         Korea DPR
187         Korea DPR
374    Korea Republic
386    Korea Republic
434    Korea Republic
444    Korea Republic
480    Korea Republic
524    Korea Republic
593    Korea Republic
609    Korea Republic
635    Korea Republic
642    Korea Republic
655    Korea Republic
710    Korea Republic
753         Korea DPR
802    Korea Republic
818    Korea Republic
Name: Home Team Name, dtype: object

Imagine that, for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [145]:
# Update the 'Home Team Name' and 'Home Team Initials' columns 
df.loc[df['Home Team Name'].str.contains('Korea'), ['Home Team Name', 'Home Team Initials']] = 'Korea', 'NSK'
df.loc[df['Away Team Name'].str.contains('Korea'), ['Away Team Name', 'Away Team Initials']] = 'Korea', 'NSK'

df.loc[130:180, ['Home Team Name', 'Home Team Initials', 'Away Team Name', 'Away Team Initials']]

     Home Team Name Home Team Initials    Away Team Name Away Team Initials
130          Sweden                SWE      Soviet Union                URS
131          France                FRA  Northern Ireland                NIR
132          Sweden                SWE        Germany FR                FRG
133          Brazil                BRA            France                FRA
134          France                FRA        Germany FR                FRG
135          Brazil                BRA            Sweden                SWE
136         Uruguay                URU          Colombia                COL
137          Brazil                BRA            Mexico                MEX
138       Argentina                ARG          Bulgaria                BUL
139           Chile                CHI       Switzerland                SUI
140    Soviet Union                URS        Yugoslavia                YUG
141  Czechoslovakia                TCH             Spain                ESP
142         Hungary                HUN           England                ENG
143      Germany FR                FRG             Italy                ITA
144      Yugoslavia                YUG           Uruguay                URU
145          Brazil                BRA    Czechoslovakia                TCH
146         England                ENG         Argentina                ARG
147           Chile                CHI             Italy                ITA
148    Soviet Union                URS          Colombia                COL
149           Spain                ESP            Mexico                MEX
150         Hungary                HUN          Bulgaria                BUL
151      Germany FR                FRG       Switzerland                SUI
152    Soviet Union                URS           Uruguay                URU
153          Brazil                BRA             Spain                ESP
154         Hungary                HUN         Argentina                ARG
155      Germany FR                FRG             Chile                CHI
156      Yugoslavia                YUG          Colombia                COL
157          Mexico                MEX    Czechoslovakia                TCH
158         England                ENG          Bulgaria                BUL
159           Italy                ITA       Switzerland                SUI
160           Chile                CHI      Soviet Union                URS
161          Brazil                BRA           England                ENG
162  Czechoslovakia                TCH           Hungary                HUN
163      Yugoslavia                YUG        Germany FR                FRG
164  Czechoslovakia                TCH        Yugoslavia                YUG
165          Brazil                BRA             Chile                CHI
166           Chile                CHI        Yugoslavia                YUG
167          Brazil                BRA    Czechoslovakia                TCH
168         England                ENG           Uruguay                URU
169      Germany FR                FRG       Switzerland                SUI
170          Brazil                BRA          Bulgaria                BUL
171    Soviet Union                URS             Korea                NSK
172          France                FRA            Mexico                MEX
173        Portugal                POR           Hungary                HUN
174       Argentina                ARG             Spain                ESP
175           Italy                ITA             Chile                CHI
176         Uruguay                URU            France                FRA
177           Spain                ESP       Switzerland                SUI
178         Hungary                HUN            Brazil                BRA
179           Korea                NSK             Chile                CHI
180        Portugal                POR          Bulgaria                BUL

Make sure to verify your answer!

In [146]:
# Check the updated columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
 20  Total Goals           319 non-null    object
dtypes: float64(1), int64(7), object(13)
memory usage: 139.9+ KB

## Summary

In this lab, you practiced accessing data within Pandas!